nav
{
    display:flex;
    justify-content: space-between;
    background-color: #002333;
    padding: 10px 50px;
    color: #ffff;
}
nav,data ul{
    list-style: none;
}
nav li{
  display: inline-block;
}
nav a{
    text-decoration: none;
    padding: 5px 10px;
    font-size: 40 px;
    font-weight: bold;
    color: #ffff;
}
data
{
    display:flex;
    justify-content: center;
    background-color: #aebb3c;
    padding: 10px 50px;
    color: #ffff;
    height: 180px;   
}
data ul{
    text-decoration: none;
    padding: 5px 10px;
    font-size: 40 px;
    font-weight: bold;
    color: rgb(104, 25, 25);
}